myNameSpace: a724171a-f557-4a0f-a2b9-00e890d3d282

server:
  port: 8088 # 网关端口

spring:
  application:
    name: skywalking-gateway # 应用名称（SkyWalking监控中显示的服务名）
  cloud:
    gateway:
      routes:
        # 路由到订单微服务
        - id: order-service-route
          uri: lb://skywalking-order-service # 负载均衡（需服务发现支持），直接访问可改为 http://localhost:8081
          predicates:
            - Path=/order/**
#          filters:
#            - StripPrefix=1 # 去除前缀 /order
        # 路由到支付微服务
        - id: pay-service-route
          uri: lb://skywalking-pay-service
          predicates:
            - Path=/pay/**
#          filters:
#            - StripPrefix=1
        # 路由到库存微服务
        - id: stock-service-route
          uri: lb://skywalking-stock-service
          predicates:
            - Path=/stock/**
#          filters:
#            - StripPrefix=1

    # Nacos 基础配置（服务地址）
    nacos:
      discovery:
        server-addr: localhost:8848 # Nacos 服务地址（本地部署，若为集群填写多个地址，用逗号分隔）
        namespace: ${myNameSpace}
      config:
        server-addr: localhost:8848 #nacos作为配置中心地址
        file-extension: yaml #指定yaml格式的配置
        group: DEFAULT_GROUP #指定分组
        namespace: ${myNameSpace} #指定spacename

# SkyWalking 配置（指定OAP服务器地址）
skywalking:
  agent:
    service-name: ${spring.application.name} # 对应SkyWalking监控的服务名
    collector:
      backend-service: 127.0.0.1:11800 # SkyWalking OAP 服务器地址（默认端口）
  logging:
    level:
      org.apache.skywalking: INFO